<div class="flex justify-around">
  <h1 class="uppercase text-3xl">Welcome to discord message scheduler!</h1>
</div>

<div class="flex justify-around">

  <a href="<%= new_user_path %>" class="mt-4 bg-blue-500 hover:bg-blue-400 border border-2 border-black p-4 rounded ">Click here to sign in</a>
</div>
